div.meta {
    display: none;
}

.infomap {
    border: 0px solid black;
    padding-top: 10px;
}

.infomap td {
    vertical-align: text-top;    
}

td.label {
    width: 15%;
    font-weight: bold !important;
    font-size: 0.9em;
}

.content {
    position: relative;
    height: 100%;
}

.bottom-hr {
    width: 100%;
    bottom: 0;
    position: absolute;
}